.top{
  background-color: #faf9f5;
  padding: 20px;
}
.product.product-single {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single:hover {
  -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.product.product-single .product-btns {
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single .product-btns .tombol{
  background-color: #F9B500;
}
.product.product-single:hover .product-btns {
  opacity: 1;
  visibility: visible;
}

.tombol{
  background-color: #F9B500;
}
  .bottom-side {
    margin-top: -60px;
    height: 60px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
  }

  .card {
    border-radius: 10px;
    border: none;
  }
  .card h3 {
    font-weight: bold;
  }
  .card-title img {
    width: 30px;
  }
  .top-head {
    position: relative;
  }
  .top_tiles {
    margin-left: 10px;
  }
  .right-side img {
    z-index: 0;
    border-radius: 10px;
  }

  @media(min-width:800px) {
    .card-title img {
      width: 65px;
    }
    .cari select{
      height:30px;
      border-radius:5px;
    }
    .cari{
      margin-right: 130px;
      float:right;
      /*background-color: pink;*/
    }
    .cari button[type = "submit"]{
        background-color: #F9B500;
        border-radius: 5px;
        height:24px;
    }

    .cari button[type = "submit"]:hover {
        background-color: #Fff;
        border-radius: 5px;
        height: 24px;
    }
    .card {
      width: 15%;
      margin: 5px;
      margin-left: 20px;
      border-radius: 10px;
      border: none;
    }

    .card h3 {
      font-size: 15px;
    }

    .top-head {
      position: relative;
      margin-left: 7.5%;
    }

    .top_tiles {
      float: left;
      margin-left: 30px;
    }

    .right-side {
      height: 265px;
      padding: 0;
      margin-left: -30px;
    }

    .right-side img {
      z-index: 0;
      border-radius: 10px;
    }

    .bottom-side {
      margin-top: -60px;
      margin-left: -30px;
      height: 60px;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      text-align: center;
      line-height: 60px;
      color: white;
      font-size: 25px;
    }
  }

  @media(max-width:600px) {
    .card-title img {
      width: 60px;
    }

    .card h3 {
      font-size: 16px;
      font-weight: bold;
    }
  }

/*index style*/

.image{
	display: block;
	width: 100%;
	height: auto;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: #F9B500;
	transition: 1s ease;
}

.Hov:hover .overlay {
	transition: 1s ease;
	opacity: 1;
	z-index: 9999;
}

.text{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

/* highlights style */
.bottom-side {
	margin-top: -60px;
	height: 60px;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	text-align: center;
	line-height: 60px;
	color: white;
	font-size: 25px;
	border-radius: 10px;
}

.card {
	border-radius: 10px;
	border: none;

}

.card-title img {
	width: 30px;
}

.top-head {
	position: relative;
}

.top_tiles {
	margin-left: 10px;
}



.right-side img {
	z-index: 0;
	border-radius: 10px;
}

@media(min-width:800px) {
	.card-title img {
		width: 65px;
	}

	.card {
		width: 15%;
		margin: 5px;
		margin-left: 20px;
		border-radius: 10px;
		border: none;
	}

	.card h3 {
		font-size: 15px;
	}

	.top-head {
		position: relative;
		margin-left: 7.5%;
	}

	.top_tiles {
		float: left;
		margin-left: 30px;
	}

	.right-side {
		height: 265px;
		padding: 0;
		margin-left: -30px;
	}

	.right-side img {
		z-index: 0;
		border-radius: 10px;
	}

	.bottom-side {
		margin-top: -60px;
		margin-left: -30px;
		height: 60px;
		z-index: 5;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		text-align: center;
		line-height: 60px;
		color: white;
		font-size: 25px;
	}
}

@media(max-width:600px) {
	.card-title img {
		width: 60px;
	}

	.card h3 {
		font-size: 16px;
		font-weight: bold;
	}
}
.top{
  background-color: #faf9f5;
  padding: 20px;
}
.product.product-single {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single:hover {
  -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.product.product-single .product-btns {
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single .product-btns .tombol{
  background-color: #F9B500;
}
.product.product-single:hover .product-btns {
  opacity: 1;
  visibility: visible;
}

.tombol{
  background-color: #F9B500;
}
  .bottom-side {
    margin-top: -60px;
    height: 60px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
  }

  .card {
    border-radius: 10px;
    border: none;
  }
  .card h3 {
    font-weight: bold;
  }
  .card-title img {
    width: 30px;
  }
  .top-head {
    position: relative;
  }
  .top_tiles {
    margin-left: 10px;
  }
  .right-side img {
    z-index: 0;
    border-radius: 10px;
  }

  @media(min-width:800px) {
    .card-title img {
      width: 65px;
    }
    .cari select{
      height:30px;
      border-radius:5px;
    }
    .cari{
      margin-right: 130px;
      float:right;
      padding: 10px;
      /*background-color: pink;*/
    }
    .cari button[type = "submit"]{
        background-color: #F9B500;
        border-radius: 5px;
        height:24px;
       padding-left: 5px;
    padding-right: 5px;
    }

    .cari button[type = "submit"]:hover {
        background-color: #Fff;
        border-radius: 5px;
        height: 24px;
    }
    .card {
      width: 15%;
      margin: 5px;
      margin-left: 20px;
      border-radius: 10px;
      border: none;
    }

    .card h3 {
      font-size: 15px;
    }

    .top-head {
      position: relative;
      margin-left: 7.5%;
    }

    .top_tiles {
      float: left;
      margin-left: 30px;
    }

    .right-side {
      height: 265px;
      padding: 0;
      margin-left: -30px;
    }

    .right-side img {
      z-index: 0;
      border-radius: 10px;
    }

    .bottom-side {
      margin-top: -60px;
      margin-left: -30px;
      height: 60px;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      text-align: center;
      line-height: 60px;
      color: white;
      font-size: 25px;
    }
  }

  @media(max-width:600px) {
    .card-title img {
      width: 60px;
    }

    .card h3 {
      font-size: 16px;
      font-weight: bold;
    }
  }

.page-user .page-content form{margin-bottom:40px}.page-user .page-content .list-group-item{padding:25px 0;border-top-color:#e4eaec}.page-user .page-content .list-group-item:first-child{border-top-color:transparent}.page-user .page-content .list-group-item:last-child{border-bottom-color:#e4eaec}.page-user .page-content .list-group-item .media-heading>small{margin-left:10px}.page-user .page-content .list-group-item p{margin-bottom:5px}
.page-user .page-content .nav-tabs-horizontal{position:relative}.page-user .page-content .page-user-sortlist{position:absolute;right:0;top:5px;z-index:2}@media (max-width:991px){.page-user .page-content .page-user-sortlist{top:-15px}}@media (max-width:479px){.page-user .page-content .list-group-item .media-body{display:block;text-align:center}.page-user .page-content
.list-group-item .media-body{width:auto}.page-user .page-content .list-group-item .media-body{margin-top:15px}.page-user .page-content .tab-content nav{text-align:center}}
