header .container li a i{
  font-size:18px;
}
header{
  box-shadow: 5px 5px 5px solid black;
  margin-top: 40px;
}
#nav {
     height: 70px;
}
 #nav:after {
     content: "";
     position: fixed;
     left: 0;
     right: 0;
     bottom: 0;
     top: 0;
     background-color: rgba(33, 38, 49, 0.5);
     z-index: 90;
     opacity: 0;
     visibility: hidden;
     -webkit-transition: 0.2s all;
     transition: 0.2s all;
}
 #nav.shadow-active:after {
     opacity: 1;
     visibility: visible;
}
#nav-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 90;
    background-color: #FFF;
    -webkit-box-shadow: 0px -1px 0px 0px #eceef2 inset;
    box-shadow: 0px -1px 0px 0px #eceef2 inset;
}
#nav-fixed.slide-down {
    -webkit-animation: slide-down 0.3s;
    animation: slide-down 0.3s;
}
#nav-fixed.slide-up {
    -webkit-animation: slide-up 0.3s;
    animation: slide-up 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes slide-down {
    from {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
   }
    to {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
   }
}
@keyframes slide-down {
    from {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
   }
    to {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
   }
}
@-webkit-keyframes slide-up {
    from {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
   }
    to {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
   }
}
@keyframes slide-up {
    from {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
   }
    to {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
   }
}
#nav .container {
    position: relative;
}
@media only screen and (max-width: 991px) {
.product .product-old-price {
  color: #F8694A;
  font-size: 70%;
}

.product .product-rating {
  display: inline-block;
}

.product .product-rating>i {
  color: #FFB656;
}

.product .product-rating>i.empty {
  color: #DADADA;
}

.product .product-label>span {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  font-weight: 700;
  color: #FFF;
  background-color: #30323A;
  z-index: 22;
}

.product .product-label>span.sale {
  background-color: #F8694A;
}

.product .product-countdown {
  z-index: 22;
}

.product .product-countdown>li {
  display: inline-block;
  margin-right: -4px;
}

.product .product-countdown>li+li:before {
  content: ":";
  color: #FFF;
  background: #30323A;
  padding: 2px;
}

.product .product-countdown>li>span {
  display: inline-block;
  color: #FFF;
  font-weight: 700;
  padding: 10px;
  background: #F8694A;
}

@media only screen and (max-width: 991px) {
  #home .home-wrap {
    margin-left: 0px;
  }
  #aside {
    margin-bottom: 60px;
  }
  .product-reviews {
    margin-bottom: 30px;
  }
}
